<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientBaseTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Database=clientbase;Datasource=192.168.0.61;User=user;Password=taab501deest;"
   providerName="System.Data.SqlClient"/>
	</connectionStrings>	
 <userSettings>
  <ClientBaseTesting.Properties.Settings>
   <setting name="winPricelistLeft" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="winPricelistTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="winPricelistWidth" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="winPricelistHeight" serializeAs="String">
    <value>400</value>
   </setting>
   <setting name="winPricelistPriceNameWidth" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="winPricelistPriceDate1Width" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="winPricelistPriceDate2Width" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="winPricelistMainPart1" serializeAs="String">
    <value>1*</value>
   </setting>
   <setting name="winPricelistMainPart2" serializeAs="String">
    <value>0.4*</value>
   </setting>
   <setting name="winPricelistMainPart3" serializeAs="String">
    <value>*</value>
   </setting>
   <setting name="winPricelistCostSaleDiscWidth" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="winPricelistCostSaleCopyWidth" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="winPricelistCostSaleSummaWidth" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="winPricelistCostServDiscWidth" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="winPricelistCostServCopyWidth" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="winPricelistCostServSummaWidth" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="winPricelistCheckPriceActive" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="winPricelistCheckGroupActive" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="winPricelistCheckServiceActive" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="winPricelistPriceNomencWidth" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="winPricelistPriceGroupWidth" serializeAs="String">
    <value />
   </setting>
  </ClientBaseTesting.Properties.Settings>
	 
 </userSettings>
</configuration>